body {
  margin: 0;
  font-family: "Open Sans" , Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  display: block;
  unicode-bidi: isolate;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  display: flex;
  position: relative;
  z-index: 0;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

@media (min-width: 769px) {
  .header {
    background-image: url(../images/banner-bg.jpg);
    max-width: 100%;
    height: auto;
  }
 
}

.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 15px;
  padding-top: 28px;
  margin: 0 auto;
   overflow: hidden;
}




.main-items .container {
  padding: 0;
  padding-top: 10px;
}

.logo-menu {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 180px;
}





.menu {
  font-size: 13px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 35px;
  padding-bottom: 6px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.header__button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.header__button:before,
.header__button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.header__button:before {
  top: 0;
}

.header__button:after {
  bottom: 0;
}

.header__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

@media (min-width: 901px) {
  .header__button {
    display: none;
  }
}



.cover__content {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 60px;
}

.cover__title {
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  font-size: 45px;
  line-height: 72px;
  width: 100%;
  letter-spacing: 0;
}





.trend {
  width: 100%;
  max-width: 1660px;
  padding-top: 53px;
  margin: 0 auto;
  overflow: hidden;
}




.trend__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 0.5fr));
  width: 100%;
  max-width: 1660px;
  gap: 6px;
  justify-content: space-between;
  margin: 28px auto 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.trend__container::-webkit-scrollbar {
  display: none;
}

.card {
  max-width: 100%;
  min-height: 315px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #eeeeee;
  position: relative;
  z-index: 0;
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.card1 {
  background-image: url(../images/trend1.jpg);
  flex-grow: 1;
}

.card2 {
  background-image: url(../images/trend2.jpg);
  flex-grow: 1;
}

.card3 {
  background-image: url(../images/trend3.jpg);
  flex-grow: 1;
}

.card4 {
  background-image: url(../images/trend4.jpg);
  flex-grow: 1;
}

.card__text {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  /* padding-top: 8px; */
  letter-spacing: 0px;
}
.card__text a:hover {
  color: #b59f5b;
}

.card__text a {
  text-decoration: none;
  color: #ffffff;
}

.card__context {
  border: 2px solid #b59f5b;
  padding: 31px 30px 34px 35px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  min-height: 145px;
  width: 100%;
  flex-grow: 1;
}







.main {
  display: flex;
  margin-top: 37px;
  width: 100%;
}





.main .card-nav {
  line-height: 14px;
}

.main .card-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 19px;
  list-style: none;
}





.main__article {
  margin-right: 4%;
  width: 100%;
  display: flex;
  gap: 58px;
  flex-direction: column;
}





.section-article {
  display: flex;
  /* margin-bottom: 50px; */
}





.section-article__image {
  /* flex-shrink: 0; */
  max-width: 381px;
  width: 100%;
  height: 296px;
  padding-top: 0px;
  z-index: 1;
  position: relative;
}




.section-article__image img{
  width: 100%;
  /* height: 100%; */
}


.section-article__image::after {
  content: " ";
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #eff6f1; */
  position: absolute;
  top: 0px;
  z-index: -1;
}



.section-article__content {
  /* flex: 2; */
  width: 100%;
  min-width: 300px;
  padding-right: 38px;
  padding-left: 30px;
}

.card-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 13px;
  list-style: none;
}

.card__context .card-nav ul{
  gap: 0 20px;
}

.card-nav li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  /* padding-right: 24px; */
}

.card-nav li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  color: #b59f5b;
}



.titel {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
  letter-spacing: 0;
  padding-right: 20px;
}

.titel a {
  text-decoration: none;
  color: #0f0d0e;
}

.titel a:hover {
  color: #b59f5b;
}


.info {
  margin-top: 24px;
  margin-bottom: 43px;
}

.date {
  font-size: 12px;
  color: #888888;
  padding-right: 7px;
}

.comment {
  font-size: 13px;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  letter-spacing: -0.7px;
}

.text {
  font-size: 15px;
  line-height: 21px;
  color: #0f0d0e;
  letter-spacing: 0px;
  padding-right: 40px;
}

.aside {
  flex: none;
  width: 271px;
}



.aside__news {
  margin-bottom: 52px;
}




.title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}


.main .title {
  font-size: 14px;
  line-height: 14px;
}

.title::after {
  content: " ";
  display: block;
  width: 68px;
  border-bottom: 3px solid #b59f5b;
  opacity: 1;
  padding-top: 10px;
  margin: 0 auto;
}

.title:hover::after {
  border-bottom: 3px solid #ccc370;
}

.aside__sections {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aside__news-content {
  display: flex;
}

.aside__news-image {
  flex: 1;
  width: 100%;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.aside__news-image::after {
  content: " ";
  display: flex;
  width: 100%;
  top: 10px;
  background-color: #eff6f1;
  position: absolute;
  z-index: -1;
}

.news-content {
  flex: 2;
}



.aside__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.aside__text a:hover {
  color: #b59f5b;
}

.aside__text a {
  text-decoration: none;
  color: #000000;
}

.aside__search {
  margin-bottom: 60px;
}



.search-flex {
  display: flex;
}

.search__container{
  display: flex;
  width: 100%;
}

.field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  border: none;
  display: inline-block;
  font-size: 13px;
  background-color: #f3f7f5;
}

.field:hover {
  background-color: #f4f7f6;
}

.field:focus {
  outline: rgb(181, 159, 91) solid 1px
}

.button {
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: #b59f5b;
  width: 58px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #323232;
}



.visually-hidden {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside-post h3 {
  margin-bottom: 25px;
}

.submit, .popup__submit {
  margin-top: 20px;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  color: #ffffff;
}


.submit:hover {
  background-color: #323232;
}

.aside__tags {
  margin-top: 59px;
  margin-bottom: 60px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px 6px;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
}

.tags li {
  list-style: none;
}

.tags li a {
  display: block;
  border: 3px solid #eeeeee;
  box-sizing: border-box;
  padding: 0px 14px 0px 13px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.tags li a:hover {
  background-color: #ffffff;
  border: 3px solid #ccc370;
}


.topic-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  line-height: 30px;
  padding: 0;
  margin-top: 20px;
}


.topic-list li {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.topic-list li a {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: 600;
}

.topic-list li:hover a {
  color: #ccc370;
}

.topic-list li a:hover span {
   opacity: 0.6;
}

.topic-list span {
  padding-left: 5px;
  /* bottom: 5px; */
  top: 0;
  position: relative;
  color: #b59f5b;
  font-size: 12px;
  font-weight: 700;
}


.main-items {
  width: 100%;
  margin-top: 55px;
}

.main-items__container {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 65px;
}

@media (min-width: 1200px) {
  .main-items__container {
    justify-content: space-between;
  }
}





.main-items__article {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 330px;
  padding: 0 17px;
  max-width: 380px;
}

.main-items__context {
  border: 2px solid #b59f5b;
  margin: 0;
  /* max-width: 350px; */
  padding: 40px 20px 30px;
  box-sizing: border-box;
  margin-top: -36px;
  flex-grow: 1;
}

.main-items__context .text{
  margin-top: 8px;
  padding-right: 0;
}

.text a {
  text-decoration: none;
  color: #b59f5b;
}






.button-post .submit, .popup__submit{
  margin: auto;
  padding: 5px 20px;
  width: 140px;
}

.popup__submit{
  margin-top: 25px;
  width: 100%;
}

.button-price {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 25px;
}

.button-price h3::after {
  content: "\20BD";
}


.article-price {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}

.article-price h3{
  margin-bottom: 0;
  line-height: 22px;
  font-size: 22px;
}

.article-price--small{
  font-size: 16px !important;
}







.footer {
  width: 100%;
  margin-top: -45px;
}

.media {
  background-color: #f3f7f5;
  display: flex;
  justify-content: center;
  padding: 27px;
  box-sizing: border-box;
  gap: 22px;
  position: relative;
  list-style: none;
}

.media:hover::before {
  position: absolute;
  width: 100px;
  background: #f3f7f5;
  opacity: 0.4;
  padding: 5px;
  bottom: 80px;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  color: #999999;
  font-size: 12px;
}

.media:hover::before {
  content: "follow us";
}

.media a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.media a:hover {
  box-shadow: inset 0 -40px 0 rgba(0, 0, 0, 0.2);
}

.media1 {
  background-image: url(../svg/001-dribbble.svg);
}

.media2 {
  background-image: url(../svg/002-pinterest.svg);
}

.media3 {
  background-image: url(../svg//003-tumblr.svg);
}

.media span {
  text-decoration: none;
  color: #000000;
  font-size: 8px;
  position: absolute;
  top: 70px;
  display: none;
}

.copyright {
  padding: 47px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright a {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
}





.copyright a:hover {
  text-decoration: underline;
}

.popup {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* display: none; */
}

.popup__container {
  width: 392px;
  height: 590px;
  box-sizing: border-box;
  padding: 45px 30px 30px;
  position: relative;
  background-color: #ffffff;
  opacity: 1;
  z-index: -200;
}

.popup_container .title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.select-group {
  display: block;
  margin-top: 28px;
}

.select-label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  line-height: 1.3;
  padding-right: 15px;
}

.select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 19px;
  padding-right: 25px;
  margin: 0;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  font-size: 14px;
  color: #797979;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 4%;
}

.select:focus {
  outline: 1px solid #b59f5b;
  outline-offset: 4px;
}

.radio-group-text {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  margin-right: 10px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* background-size: 20px; */
  vertical-align: middle;
  margin-right: 8px;
}

.popup .title::after{
  padding-top: 5px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.form-row {
  margin-top: 27px;
}

.field-popup {
  min-height: 130px;
  width: 100%;
  font-family: inherit;
  padding-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #797979;
  border: 1px solid #f4f7f6;
}

.field-popup:focus {
  outline-offset: 4px;
  outline: 1px solid #b59f5b;
}

.popup__close {
  width: 1.4em;
  height: 1em;
  font-size: 10px;
  position: absolute;
  top: -24px;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  width: 1.4em;
  height: 0.2em;
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}





.popup--hidden {
  display: none;
}

@media (max-width: 1000px) {
   .card__text {
    font-size: 17px;
    line-height: 24px;
  }
  .card__context{
    padding: 31px 30px 34px 30px;
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) and (orientation: portrait) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    width: 100%;
    max-height: 100vh;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 10px 34px;
  }
   .header .container{
    padding: 45px 36px 30px 35px;
  }

  .header__logo {
    width: 158px;
  }

  .main-items .container{
    padding: 0;
    padding-top: 7px;
  }

  .logo-menu{
    align-items: flex-start;
  }

  .menu {
    display: none;
  }

  .header__button{
    width: 1em;
    height: 0.8em;
    margin-top: 8px;
  }

  .cover__content{
    max-width: 639px;
    padding-bottom: 12px;
  }
  .cover__title{
    font-size: 39px;
    margin-top: 80px;
    letter-spacing: 0.4px;
    line-height: 56px;
  }

  .trend{
    padding-top: 44px;
  }

  .card {
    width: 49%;
    min-height: 246px;
  }

  .trend__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .card__context{
    min-height: 135px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
  .card__text {
    font-size: 17px;
    line-height: 24px;
  }

  .main {
    margin-top: 37px;
  }


  .main .card-nav ul{
    gap: 15px;
  }


  .main__article {
    margin-right: 32px;
    gap: 40px;
  }

  .section-article {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #8888882e 4px solid;
    max-width: 500px;
    padding-bottom: 2px;
  }

  .section-article__image{
    width: 100%;
    height: 303px;
  }

  .section-article__content{
      padding: 0;
      margin-top: 13px;
  }

  .card__context .card-nav ul{
    gap: 10px;
  }
  .card-nav li a {
    font-size: 15px;
  }

  .titel{
    font-size: 17px;
    line-height: 22px;
    padding-right: 0;
    margin-top: 12px;
  }
  .info{
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .text{
    font-size: 15px;
    padding-right: 0px;
    letter-spacing: 0;
    line-height: 22px;
  }
  .text-long{
    padding-right: 20px;
  }
  .text-medium{
    padding-right: 5px;
  }
  .text-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }

  .text-flex p{
    margin: 0;
  }

  .title{
    font-size: 18px;
    padding-bottom: 5px;
  }
  .title::after{
    padding-top: 5px;
  }

  .aside__sections{
    margin-top: 23px;
    gap: 4px;
  }

  .aside__search{
    margin-bottom: 63px;
  }

  .main-items{
    margin-top: 28px;
  }
  .main-items__container {
    flex-wrap: wrap;
  }

  .main-items__article{
    max-width: 363px;
    width: 100%;
    padding: 0 10px;
  }

  .main-items__container{
    gap: 28px 0;
    padding: 0 20px;
    margin-top: 20px;
    /* justify-content: center; */
  }

  .main-items__context{
    padding: 40px 25px 27px;
    margin-top: -43px;
  }

  .main-items__context .text{
    font-size: 15px;
    margin-top: 4px;
  }

  .button-price{
    margin-top: 22px;

  }


  .article-price{
    padding-bottom: 5px;
    justify-content: space-between;
  }

  .article-price h3{
    font-size: 20px;
    display: flex;
    gap: 5px;
    line-height: 20px;
  }

  .article-price--small{
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .copyright{
    padding: 25px 0 20px 0;
  }
  .copyright a {
    font-size: 11px;

  }
  .media{
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .media a{
    width: 23px;
    height: 23px;
  }

  .popup__container{
    height: 598px;
    padding: 44px 30px 19px;
  }
  .select-label{
    margin-bottom: 3px;
  }
  .popup__close{
    font-size: 16px;
    top: -30px;
    right: 5px;
  }
  .radio-group-text::before{
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .radio-group-text{
    margin-right: 25px;
  }
  .select-group{
    margin-top: 31px;
  }
  .form-row{
    margin-top: 35px;
  }
}


@media (max-width: 700px) {

  .container {
    padding: 0px 15px;
  }

  .header .container{
    padding: 23px 15px 133px 15px;
  }
  

  .header__logo {
    max-width: 268px;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
  }

  .logo-menu{
    flex-direction: row-reverse;
  }

  .cover__title {
    line-height: 1.4;
    font-weight: 700;
    font-size: 25px;
    margin-top: 270px;
  }

  .header{
    max-height: 100%;
  }

  .trend{
    padding-top: 35px;
  }

  .card {
    width: 100%;
    min-height: 230px;
  }
  .trend__container{
    gap: 4px;
  }

  .card__context {
    min-height: 115px;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-left: 16px;
    padding-right: 24px;
  }

  .card__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 1px;
  }

  .main {
    margin-top: 46px;
  }

  .main .card-nav ul{
    gap: 12px;
  }
  .main {
    flex-wrap: wrap;
    flex: auto;
    flex-direction: column;
    gap: 46px;
  }

  .main__article {
    margin-right: 0;
    gap: 34px;
  }

  .section-article {
    max-width: 100%;
    padding-bottom: 21px;
  }

  .section-article__image img{
      width: 100%;
  }
  .section-article__image{
      height: auto;
      width: 100%;
      padding: 0 5px;
  }

  .section-article__content{
    padding: 0;
    margin-top: 13px;
  }

  .titel{
    font-size: 16px;
    line-height: 21px;
    padding-right: 0;
    margin-top: 11px;
  }
  .info{
    margin-bottom: 10px;
    margin-top: 9px;
  }
  .text{
    font-size: 14px;
    padding-right: 0px;
    letter-spacing: 0;
    line-height: 20px;
    padding-right: 5px;
  }
  .text-long{
    padding-right: 8px;
  }
  .text-medium{
    padding-right: 5px;
  }
  .text-flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
  }

  .text-flex p{
    margin: 0;
  }
  .section-article .text p {
    margin: 0;
  }

  .aside {
    flex: auto;
    width: 100%;
    margin-top: -10px;
  }

  .title{
    font-size: 16px;
  }
  .title::after{
    padding-top: 8px;
  }
  .main .title{
    font-size: 16.2px;
    line-height: 19px;
  }

  .aside__sections{
    margin-top: 18px;
  }

  .news-content{
    flex: 3;
  }


  .aside__news-content{
    gap: 10px;
  }

  .aside__search{
    margin-bottom: 43px;
  }

  .aside__text{
    font-size: 14.5px;
    letter-spacing: -0.3px;
  }

  .aside-post h3{
    margin-bottom: 20px !important;
  }

  .aside__tags{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .topic-list{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tags{
    margin-top: 23px ;
    gap: 11px 5px;
    /* justify-content: space-between; */
  }
  .tags li{
    /* padding: 0px 14px 0px 13px; */
  }
  .tags li a{
    padding: 1px 13px 0px 13px;
  }

  .submit {
    margin-top: 20px;
  }

  .main-items__article{
    max-width: 100%;
    min-width: 100%;
    padding: 0;
  }
  .main-items__context {
    margin-top: -30px;
    padding: 40px 10px 27px;
  }
   .main-items__container{
    gap: 27px 0;
  }  

  .main-items__context .titel{
    font-size: 17px;
    line-height: 22px;
  }

  .button-price{
    padding-right: 10px;
    margin-top: 24px;
  }

  .media{
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .media a{
    width: 23px;
    height: 23px;
  }

  .popup{
    padding: 15px;
  }
  .popup__container{
    height: 550px;
    padding: 24px 24px 30px;
  }
  .select-group{
    margin-top: 22px;
  }
  .popup__close {
    font-size: 17px;
    right: 3px;
    top: -29px;
  }
  .main-items__image{
    height: 281px;
    width: 285px;
  }
  .main-items__image img{  
    width: 100%;
    height: 100%;
  }
  .select-label{
    margin-bottom: 8px;
  }

  .radio-mail .select-group{
    margin-top: 30px;
  }

  .select{
    background-position: right 15px center;
    padding-left: 16px;
  }

  .form-row{
    margin-top: 28px;
  }

  .popup__submit{
    margin-top: 21px;
  }

  .radio-group-text{
    margin-right: 28px;
  }

}